@import "compass/css3/border-radius";

$grey: #545454;
$green: #4CAF50;
$red: #F44336;
$base: #8A6D3B;
$title: #8A6D3B;
$text: #8A6D3B;
$blue: #0d3c5f;
$base_bg: #fafafa;

body{
  background: $base_bg;
  font-family: 'Kurale', serif;
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
  background: #fff;
  font-family: 'Kurale', serif;
  font-size: 16px;
}

header{
  background: #fff;
  border-bottom: 1px solid #edeeee;
  height: 78px;
  margin-bottom: 20px;
}

.pointer{
  cursor: pointer;
}

.logo{
  color: $base;
  font-size: 22px;
  line-height: 78px;
}

.auth{
  line-height: 78px;
  font-size: 16px;
  a{
    color: $base;
  }
}

.search{
  margin-top: 20px;
  font-size: 16px;
  input{
    @include border-radius(4px, 4px);
    width: 240px;
    padding: 5px 8px;
    border: 1px solid #edeeee;
    font-size: 14px;
    background: $base_bg;
    color: $base;
    &:focus{
      outline: none;
    }
  }
}

.list{
  margin: 0 auto;
  max-width: 400px;
  .item{
    position: relative;
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border: 1px solid #edeeee;
    .head{
      height: 38px;
      line-height: 38px;
      border-bottom: 1px solid #edeeee;
    }
    .title{
      margin: 20px 0;
      font-size: 22px;
      color: $title;
    }
    .text{
      margin: 5px;
      font-size: 16px;
      color: $text;
    }
    .edit-panel{
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 16px;
    }
  }
}

.avatar{
  .img{
    float: left;
    overflow: hidden;
    margin-right: 10px;
    width: 38px;
    height: 38px;
    img{
      width: 38px;
      height: 38px;
    }
  }
  .name{
    line-height: 38px;
  }

}

.auth-popup{
  max-width: 300px;
  margin: 0 auto;
  .link{
    p{
      font-size: 16px;
      // margin: 10px 0;
    }
  }
}

.form{
  padding: 10px 10px 0 10px;
  input{
    @include border-radius(4px, 4px);
    width: 100%;
    padding: 5px 8px;
    border: 1px solid #edeeee;
    font-size: 14px;
    background: $base_bg;
    color: $base;
    &:focus{
      outline: none;
    }
  }
  textarea{
    @include border-radius(4px, 4px);
    width: 100%;
    padding: 5px 8px;
    border: 1px solid #edeeee;
    font-size: 14px;
    background: $base_bg;
    color: $base;
    &:focus{
      outline: none;
    }
  }
}

.post-spinner{
  margin: 0 auto 15px auto;
  width: 240px;
  margin-bottom: 15px;
  padding: 8px;
  background: #fff;
}

.title{
  margin: 20px 0;
  font-size: 22px;
  color: $title;
}

.error{
  color: $red;
}

.success{
  color: $green;
}
