<div class="post">
  <pre>
    {{ $scope }}
  </pre>
  <div class="container-fluid">
    <div class="list">
      <div class="row">
        <div class="col-md-12 text-center item">
          <div class="head">

            <div class="row">
              <div class="col-md-6 text-left">
                <div class="avatar">
                  <div class="img">
                    <img src="https://scontent-frt3-1.cdninstagram.com/hphotos-xtf1/t51.2885-19/s150x150/12277424_451529385030370_976630966_a.jpg" alt="" />
                  </div>
                  <div class="name">
                    Настька
                  </div>
                </div>
              </div>
              <div class="col-md-6 text-right">
                2 мин
              </div>
            </div>

          </div>
          <p class="title">
            <p>{{ post.title }}</p>
          </p>
          <p class="text">
            {{ post.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
