body {
  background: #fafafa;
  font-family: 'Kurale', serif;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  background: #fff;
  font-family: 'Kurale', serif;
  font-size: 16px;
}

header {
  background: #fff;
  border-bottom: 1px solid #edeeee;
  height: 78px;
  margin-bottom: 20px;
}

.logo {
  color: #8A6D3B;
  font-size: 22px;
  line-height: 78px;
}

.auth {
  line-height: 78px;
  font-size: 16px;
}
.auth a {
  color: #8A6D3B;
}

.search {
  margin-top: 20px;
  font-size: 16px;
}
.search input {
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  width: 240px;
  padding: 5px 8px;
  border: 1px solid #edeeee;
  font-size: 14px;
  background: #fafafa;
  color: #8A6D3B;
}
.search input:focus {
  outline: none;
}

.list {
  margin: 0 auto;
  max-width: 400px;
}
.list .item {
  margin: 20px 0;
  padding: 20px;
  background: #fff;
  border: 1px solid #edeeee;
}
.list .item .head {
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #edeeee;
}
.list .item .title {
  margin: 20px 0;
  font-size: 22px;
  color: #8A6D3B;
}
.list .item .text {
  margin: 5px;
  font-size: 16px;
  color: #8A6D3B;
}

.avatar .img {
  float: left;
  overflow: hidden;
  margin-right: 10px;
  width: 38px;
  height: 38px;
}
.avatar .img img {
  width: 38px;
  height: 38px;
}
.avatar .name {
  line-height: 38px;
}

.auth-popup {
  max-width: 300px;
  margin: 0 auto;
}
.auth-popup .link p {
  font-size: 16px;
}

.form {
  padding: 10px 10px 0 10px;
}
.form input {
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  width: 100%;
  padding: 5px 8px;
  border: 1px solid #edeeee;
  font-size: 14px;
  background: #fafafa;
  color: #8A6D3B;
}
.form input:focus {
  outline: none;
}

.post-spinner {
  margin: 0 auto 15px auto;
  width: 240px;
  margin-bottom: 15px;
  padding: 8px;
  background: #fff;
}

.title {
  margin: 20px 0;
  font-size: 22px;
  color: #8A6D3B;
}

.error {
  color: #F44336;
}

.success {
  color: #4CAF50;
}
