<div class="container" ng-init="blogCtrl.getBlogs()">
  <div class="list">
    <div class="row">

      <div class="col-md-12 text-center" ng-if="appCtrl.isAuth && appCtrl.isAuthLoaded">

        <button
          type="button"
          class="btn btn-success"
          ng-click="blogCtrl.openAdd()">Создать</button>

      </div>

      <div class="col-md-12 text-center item" ng-repeat="post in blogCtrl.posts | filter:search">

        <div class="edit-panel" ng-if="appCtrl.isAuth && appCtrl.isAuthLoaded && post.user.id === appCtrl.user.id">
          <i class="fa fa-pencil" ng-click="blogCtrl.edit(post.id)"></i>
          <i class="fa fa-trash-o" ng-click="blogCtrl.destroy(post.id)"></i>
        </div>

        <div class="head">

          <div class="row">
            <div class="col-md-6 text-left">
              <div class="avatar">
                <div class="img">
                  <img ng-src="{{ post.user.avatar | isAvatar }}" />
                </div>
                <div class="name">
                  {{ post.user.name }}
                </div>
              </div>
            </div>
            <div class="col-md-6 text-right">
              {{ post.created_at | timeFilter }}
            </div>
          </div>

        </div>
        <p class="title">
          <a href="" ng-click="blogCtrl.openPost( post.id )">{{ post.title }}</a>
        </p>
        <p class="text">
          {{ post.text }}
        </p>
      </div>
    </div>

    <div class="post-spinner text-center" ng-show="blogCtrl.isSpinner">
      Грузим больше стишочков...
    </div>

  </div>
</div>
