<div class="container" ng-init="blogCtrl.getBlogs()">
  <div class="list">
    <div class="row">

      <div class="col-md-12 text-center" ng-if="appCtrl.isAuth && appCtrl.isAuthLoaded">

        <button
          type="button"
          class="btn btn-success"
          ng-click="blogCtrl.openAdd()">Создать</button>

      </div>

      <div class="col-md-12 text-center item" ng-repeat="post in blogCtrl.posts | filter:search">
        <div class="head">

          <div class="row">
            <div class="col-md-6 text-left">
              <div class="avatar">
                <div class="img">
                  <img src="https://scontent-frt3-1.cdninstagram.com/hphotos-xtf1/t51.2885-19/s150x150/12277424_451529385030370_976630966_a.jpg" alt="" />
                </div>
                <div class="name">
                  {{ post.user.name }}
                </div>
              </div>
            </div>
            <div class="col-md-6 text-right">
              2 мин
            </div>
          </div>

        </div>
        <p class="title">
          <a href="" ng-click="blogCtrl.openPost( post.id )">{{ post.title }}</a>
        </p>
        <p class="text">
          {{ post.text }}
        </p>
      </div>
    </div>

    <div class="post-spinner text-center" ng-show="blogCtrl.isSpinner">
      Грузим больше стишочков...
    </div>

  </div>
</div>
